
@media (max-width: 768px) {
    .container {
        width: 90%; /* Use percentage width on mobile */
        margin: 60px auto 20px;
        padding: 1rem;
    }
    
    .date {
        position: static;
        display: block;
        margin-bottom: 0.5rem;
    }
    
    .skills-list {
        columns: 1;
    }
}



/* Adjust main content for UFO */



